:root{
    --bg-color: #232323;
    --bg-color-1: #274046;
    --bg-color-2: #dbdedf;
    --light-color-1: #c3c3c3;
    --light-color-2: #e3e3e3;
    --avatar-bg-color: #d3d3d3;
}

html{
    font-size: clamp(
        0.75rem,
        0.75rem + 0.65vw,
        1.3rem
    );
}

*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

button{
    border: none;
    outline: none;
    cursor: pointer;
}

.profile-picture{
    padding: 10px;
    background-color: var(--light-color-2);
    border-radius: 50%;
    box-shadow: 0px 0px 3px -1px var(--light-color-2);
    cursor: pointer;
}

a{
    text-decoration: none;
    color: inherit;
}

input{
    appearance: none;
    outline: none;
    border-style: none;
    background: none;
}

ul li{
    list-style-type: none;
}


/**/

body{
    color: var(--light-color-1);
    font-family: Montserrat system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: var(--bg-color-2);
}

.content{
    height: 100vh;

    display: grid;
    grid-template-rows: 180px 1fr 1fr;
    grid-template-columns: 
        minmax(180px, 280px) 
        minmax(55vw, 1fr) 
        minmax(180px, 280px);
    gap: 20px 0;
}

.main-content-child{
    border: 1px solid #c3c3c3;
}
.header{
    grid-column: 2 / -1;
    background-color: var(--light-color-2);
    box-shadow: 0px 1px 8px -3px var(--bg-color);
    color: var(--bg-color);
}

.side-menu{
    grid-row: 1 / -1;
   background-color: #274046;
}

.projects{
    grid-row: 2 / -1;
    overflow-y: auto;
}

/* SIDE MENU */

.side-menu{
    display: grid;
    grid-template-rows: 180px 280px 1fr;
    gap: 10px;
}

.side-menu li,
.side-menu-1 ul,
.side-menu-2 ul,
.dashboard-logo{
    display: flex;
    align-items: center;
}

.side-menu svg{
    fill: var(--light-color-1);
    width: 1.5rem;
}

.side-menu-1 ul,
.side-menu-2 ul{
    flex-direction: column;
    gap: 5px;
}

.side-menu li{
    width: 80%;
    justify-content: flex-start;
    gap: 1rem;
}

.dashboard-logo{
    width: 80%;
    justify-content: center;
    gap: 0.2rem;
}

.dashboard-logo svg{
    fill: var(--light-color-1);
    width: 3rem;
}

/* HEADER */

.header{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(5, minmax(min-content, 1fr));
    padding: 10px 0.2rem;
}

.search{
    grid-column: 1 / 4;
}

.profile-notifications{
    grid-column: 4 / 6;
}

.profile-info{
    grid-column: 1 / 3;
}

.menu-project{
    grid-column: -3 / -1;
}

/* search */

.search{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px 1rem;
}

.search-wrapper{
    position: relative;
}

.search-wrapper > label > svg{
    fill: var(--bg-color);
    width: 28px;
}

.search-wrapper label{
    color: inherit;
    position: absolute;
    top: 4px;
    left: 0.4rem;
    opacity: 0.6;
    transition: all 0.2s ease-in-out;
}

.search-wrapper input:not(:placeholder-shown) + label,
.search-wrapper input:focus + label{
    opacity: 0;
}

.search-wrapper input:focus,
.search-wrapper input:not(:placeholder-shown){
    box-shadow: 0px 0px 5px -1px var(--bg-color);
}

.search input{
    width: clamp(300px, 80%, 450px);
    height: 32px;
    padding: 8px 2rem;
    border-radius: 10px;
    box-shadow: 0px 0px 5px -2px var(--bg-color-1);

    background-color: var(--bg-color-2);

    color: var(--bg-color);
    font-family: Montserrat;
    font-size: 0.65rem;
    letter-spacing: 0.02rem;

    transition: box-shadow 0.2s ease-in-out;
}

/* profile notification */

.profile-notifications{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.profile-notifications svg{
    fill: var(--bg-color);
    width: 24px;
    height: 28px;
    cursor: pointer;
}

.profile-notifications .profile-picture{
    width: 48px;
}

/* profile info */


.profile-info{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 100px 1fr;
    column-gap: 10px;
    padding-left: 1rem;
}

.profile-info .profile-picture{
    width: 96px;
    grid-row: 1 / 3;
}

#profile-info-msg{
    font-size: 0.7rem;
    grid-column: 2 / 3;
    align-self: self-end;
}

/* menu project */

.menu-project{
    align-self: center;
}

.menu-project ul{
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.menu-project button{
    width: 80px;
    padding: 8px 1rem;
    border-radius: 12px;
    background-color: var(--light-color-2);
    color: var(--bg-color);
    font-family: inherit;
    font-weight: 500;
    font-size: 0.7rem;
}

/* Projects */

.projects{
    padding: 10px 0.5rem;
    display: grid;
    grid-template-rows: 40px 1fr;
    row-gap: 10px;

    color: var(--bg-color);
}

.projects > h2{
    padding-left: 0.9rem;
    font-size: 1.2rem;
}

.projects > div{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    grid-auto-rows: clamp(180px, 180px + 2rem, 200px);
    gap: 0.8rem;
}

.project-box{
    display: grid;
    grid-template-rows: 15% 1fr 25%;
    row-gap: 5px;
    padding: 10px 0.5rem;
    border-radius: 5px;
    box-shadow: 2px 2px 5px -2px var(--bg-color);
    border-left: 0.5rem solid var(--bg-color-1);
    background-color: var(--light-color-2);
}

.project-box > h2{
    font-size: 1rem;
}

.project-box > p{
    font-size: 0.75rem;
}

.project-options{
    justify-self: end;
}

.project-options > svg{
    fill: var(--bg-color);
    width: 24px;
    height: 24px;
}

